body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    background-image: url(./grey-abstract-geometric-triangle-background-wallpaper-preview.jpeg);
}

.calculator {
    background-color: black;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    border-radius: 38.5pt;
}

button {
    background-color: gainsboro;
    width: 87.5px;
    height: 90px;
    font-size: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: beige;
}

.screen:hover {
    background-color: antiquewhite;
}

.screen {
    height: 150px;
    background-color: black;
    margin: 10px;
    margin-bottom: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 38.5pt;
    gap: 20px;
}

.input {
    display: flex;
    color: whitesmoke;
    align-self: flex-end;
    justify-self: flex-start;
    font-size: 30px;
    margin-right: 40px;
    margin-top: 0px;
    font-style: italic;
    max-height: 75px;
    max-width: 75px;
}

.output {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 40px;
    margin-bottom: 5px;
    color: whitesmoke;
    max-height: 120px;
    max-width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    height: 430px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-style: none;
}

#clear {
    background-color: red;
    font-weight: 700;
    font-size: 20px;
}

.add,
.minus,
.product,
.divide,
.equals {
    background-color: orange;
}